body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #24292e;
    color: white;
    padding: 30px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
}
